body {
  margin: 0px;
}
nav {
  background-color: #6d7993;
}
ul {
  margin: 0px;
}
li {
  list-style: none;
  display: inline-block;
  min-width: 50px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

article a {
  color: black;
  text-decoration: none;
}

thead {
  background-color: #77a1e5;
}

table {
  border: 1px solid black;
}
