/*******************
  BOOTSTRAP CHANGES
********************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 1000 !important;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 5px 10px;
}
.btn-primary.outline {
    border: 2px solid #101010;
    color: #101010;
    font-size: 12px;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 2px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.navbar-costum > ul > a:hover {
  color: #33a6cc;
  background-color: #FFF;
  border-bottom: 3px #33a6cc solid;
  line-height: 16px;
  border-radius: 5px 5px 0px 0px;
}
.navbar-costum > ul > a {
  color: #33a6cc;
  background-color: #FFF;
  border-bottom: 3px #33a6cc solid;
  line-height: 16px;
  border-radius: 5px 5px 0px 0px;
  display: inline-block;
}

p {
  margin: 0px;
}

nav {
  height: 40px;
  margin: 0px;
}
ul {
  margin: 0px;
  display: block;
}
li {
  list-style: none;
  display: inline-block;
  color: black;
  font-size: 20px;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

article a {
  color: black;
  text-decoration: none;
}
section {
  width: 75%;
  margin: auto;
  margin-top: 10px;
}
hr{
  border-top: 2px dotted #DDD;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background-color: gray;
}

.navbar-costum {
  margin: 0px;
}
.table-costum {
  margin:0px;
}
.table-costum td {
  border-bottom: 1px solid #DDD;
  border-collapse: collapse;
}
.exam {
  border-top: 2px solid #CCC;
  border-collapse: collapse;
  margin:0px;
}
.check {
  width: 40px !important;
}

#submit_exam {
  margin: 1px 10px;
}
